[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

scrapy = "*"
requests = "*"
azure-storage = "*"


[requires]

python_version = "3.5"
